body {
 background: #f2e2ce;
 display: flex;
 align-items: center;
 min-height: 100vh;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pop {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: rgb(242, 226, 206);
  width: 500px;
  max-width: 80%;
  opacity: 0;
}

.pop.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.pop-head {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.pop-head .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.pop-head .close-button {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.pop-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

svg .region {
    stroke: #ccc;
    stroke-linejoin: round;
    fill-rule: evenodd;
    clip-rule: evenodd;
    stroke-width: 1;
    cursor: pointer;
    transition: fill-opacity 300ms;
}

svg .region:hover{
 fill-opacity: 0.8;
}
#karadeniz{
  fill: #196f3d ;
}
#marmara{
  fill: #1a5276 ;
}
#i_anadolu{
  fill:  #935116   ;
}
#akdeniz{
  fill:  #4a235a ;
}
#ege{
  fill:  #0e6251 ;
}
#g_anadolu{
  fill:   #6e2c00  ;
}
#d_anadolu{
  fill:  #641e16 ;
}
.logo {
 position: absolute;
 bottom: 20px;
 right: 20px;
 width: 400px;
 height: auto;
}
